* {
	box-sizing: border-box;
}

span.invisible
{
	opacity: 0;
	/*transition: all 0.2s ease-in;*/
}

span.visible
{
	opacity: 1;
}

.macwindow{
  border-radius: 15px 15px 3px 3px;
  background: #e0e0e0;
  padding: 0; 
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.scrollcontainer {
	max-height: 100vh;
	overflow-y: scroll;
	box-sizing: border-box;

	scroll-snap-type: y proximity;
}

section
{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.dot {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  margin-top: 9px;

  display: inline-block;
}

.red
{
	margin-left: 12px;
  	background-color: #FF3A00;
}

.yellow
{
	margin-left: 6px;
  	background-color: #FFA700;
}

.green
{
	margin-left: 6px;
  	background-color: #1BA104;
}

.topmargin
{
	margin-top: 5vh;
}

.bottommargin
{
	margin-bottom: 4vh;
}

@media only screen and (max-height: 1000px) {
	.scrollcontainer
	{
		scroll-snap-type: y proximity;
	}
}
@media only screen and (min-height: 1000px) {
	.scrollcontainer
	{
		scroll-snap-type: y mandatory;
	}
}
